
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Election App - Homomorphic Encryption</title>
    <!-- Change the localhost:5000 to a different host:port if you run client on a different host:port. 
     This sample suppose to run on dev box so localhost and default port 5000 makes sense. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <link   href="http://localhost:5000/css/bootstrap.min.css" rel="stylesheet">
    <link   href="http://localhost:5000/css/jumbotron-narrow.css" rel="stylesheet">

    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script type="text/javascript">



//loop through the selections (normally just one)
function getRadioVal(form, name) {
    var selection = -1;
    var radios = form.elements[name]; /// it can only select one
    for (var i=0, len=radios.length; i<len; i++) {
        if ( radios[i].checked ) { //  checked?
            selection = radios[i].value; // 
            break; //stop
        }
    }
    console.log(selection);
    return selection; // return value of checked radio or undefined if none checked
}

  $(document).ready(function() {
    $("#btnSubmit").click(function(){
          var obj = new Object();

                obj.input = getRadioVal( document.getElementById('candidates'), 'candidate' );
                // obj.hash = document.getElementById('hash').value;
                obj.id_num = document.getElementById('id_num').value;
                obj.password = document.getElementById('Password').value;
                obj.dns = "http://server"; //Change the dns if you change the naem of service inside docker-compose file.

          var input_json = JSON.stringify(obj);
          $.ajax({
                    type: 'post',
                      headers: {
                                    "Accept" : "application/json",
                                    "Content-type": "application/json"
                                },
                      url: 'http://localhost:5000', //Change the url if you run client on a different host/port. Default is 5000.
                      data: input_json,
                      dataType: 'json',
                      success: function(data) {
                        $("#message").html(data.output);
                      }

                 });

            });
        });



    </script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Important Links:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:7000/register">1: Register to Vote<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:7000/">2: Vote Here <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:7000/audit">3: Audit your Vote<span class="sr-only"></span></a>
              </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
                </ul>
            </nav>
        </div>


        <h1>Votes</h1>


        <div class="jumbotron">

        <label for="votes">Choose a candidate:</label>

        <form id="candidates" autocomplete="off">

            <input type="radio" id="candidate" name="candidate" value="0"
             >
            <label for="1">Alice</label>
            <input type="radio" id="candidate" name="candidate" value="1"
            >
            <label for="2">Bob</label>
            <input type="radio" id="candidate" name="candidate" value="2"
            >
            <label for="3">Charlie</label>
            <input type="radio" id="candidate" name="candidate" value="3"
            >
            <label for="4">Daniel</label>

            <div>    
                <label for="id_num">Id number: </label>
                <input type="number" id="id_num" name="id_num" maxlength="8" required min="0" > 
            </div>
            <div>    
                <label for="Password">Password: </label>
                <input type="password" id="Password" name="Password" maxlength="50" required> 
            </div>

         </form>

            <p><a class="btn btn-lg btn-success" role="button" id="btnSubmit">Vote</a></p>

            <p class="lead" id="message"></p>

        </form>

        </div>

        <footer class="footer">
        </footer>
    </div>
</body>
</html>
